@{
    var returnUrl = ViewData["ReturnUrl"] as string;
    var errorMsg = TempData["Error"] as string;
}

<div class="container-fluid text-white p-3 bg-warning" >
    <h1 class="text-center">Login page</h1>
</div>

<div class="d-flex align-items-center justify-content-center mt-5" style="height: 100%;">


    <form action="/home/login?ReturnUrl=@System.Net.WebUtility.UrlEncode(returnUrl)" method="post">
        @if (!string.IsNullOrEmpty(errorMsg))
        {
            <div class="alert alert-danger" role="alert">
                @errorMsg
            </div>
        }

        <input class="form-control" type="text" name="username" placeholder="Username"/>
        <input class="form-control mt-1" type="password" name="password" placeholder="Password"/>
        <input class="form-control mt-1 bg-primary text-white" type="submit" value="Login" />
    </form>
</div>
